/* JavaFX CSS */
.button{
	-fx-cursor: hand;
	-fx-border-color: lightblue;
	-fx-font-size: 20px;
	-fx-border-radius: 3px;
}
.button:hover{
   -fx-font-weight:bold; 
}
.button-op:hover{
   -fx-background-color: #ffe65b !important; 
}
.screen{
	-fx-padding: 10px;
	-fx-border-color: lightblue;
	-fx-background-color: #fff;
}
.btn-equals{
	-fx-background-color: blue;
}
.btn-equals:hover{
	-fx-background-color: #89c1ff;
}